<launch>
  <arg name="debug_directory" value="$(env HELLO_FLEET_PATH)/debug/"/>

  <!-- STRETCH DRIVER -->
  <param name="/stretch_driver/broadcast_odom_tf" type="bool" value="true"/>
  <param name="/stretch_driver/fail_out_of_range_goal" type="bool" value="false"/>
  <include file="$(find stretch_core)/launch/stretch_driver.launch" pass_all_args="true"/>
  <!-- -->
  
</launch>